body {
	/* disabilita la selezione del testo */
   -ms-user-select: none; /* IE 10+ */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   	user-select: none;
	width: 100%;
	
}

.titolocategoria{
        font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
	font-size: 30px;
        font-weight: 100;
        width: 500px;
	color: red;
	text-align: center;
	background-color: white;
	font-weight: 400;
        position: relative;
        left: 650px;
        bottom:220px;
}

#mainWrapper {
	 height: auto;
         min-height: 100%;
         position: relative;
         margin: 0 auto -60px;
}	

/* Header che contiene up header e middle header*/
header {
	width: auto;
	height: auto;
	position: relative;
	min-width: 80em;
}

/* h1 usato per tutti i titoli */
h1 {
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
	font-size: 20px;
	color: white;
	text-align: left;
	background-color: #266abd;
	font-weight: 400;
}

/* h2 usato per le scritte nei banner laterali */
h2 {
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
	font-size: 20px;
	color: white;
	text-align: right;
	background-color: #266abd;
	font-weight: 400;
}

/* footer a fine pagina */
footer{
        width: 100%;
        background-color: rgb(179, 0, 0);
	border-radius: 15px 15px 0px 0px;
	position:relative;
        top:600px;
	
        
     
}

/* Ancore */
a {
	text-decoration: none;
}
a:hover{
    text-decoration: none;
}

footer a {
	color: #FFFFFF;
}

/* effetti sul menu (al passaggio del mouse) */
a:hover{
	-webkit-filter: drop-shadow(0.5px 0.5px 0.5px white);
}

/* tutte le icone del sito */
.icons {
	width: 27px;
	height: 27px;
	position: relative;
	top: 12px;
	right: 1em;
	
}

/* logo di Coupon World*/
#logo {
	width: auto;
	height: 70px;
	position: relative;
	right: 285px;
	top: 18px;
}

/* la header secondaria che contiene il menu */
#upheader {
	background-color: rgb(155, 0, 0);
	border-bottom: inset;
	border-bottom-color: white;
	border-bottom-width: thin;
	width: 100%;
	height: 40px;
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	min-width: 80em;
}

/* Menu sul upHeaderMenu*/
#upHeaderMenu h3 {
	float:left;
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-size: 1.25em;
	font-weight: 200;
	color: white;
	text-align: center;
	position: relative;
	left: 70%;
	bottom: 15px;
	width: auto;
	margin-right: 3%;
	
}

/* header della homepage contenente login/registrazione e il carrello */
#middleheader {
	background-color: rgb(179, 0, 0);
	height: 104px;
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	border-radius: 0px 0px 15px 15px;
	width: 100%;
	min-width: 80em;

}

/*Barra di Ricerca*/
#ricercaOfferta {
	
	position:relative;
	width:30%;
	left:70%;
	bottom:40%;
		font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');

	
	
}

/* barra di ricerca */
#ricercaOfferta input{
	 width: 150%;
	height: 30px;
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	max-width: 45em;
}
#ricerca-label{
	position:relative;
	right:13%;
	bottom:2.8em;
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	color: white;
	
	
}

#ricercaOfferta select {
	
	position:relative;
	bottom:1.8em;
  right:8em;
		font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
}


/* effetti sulla barra di ricerca (quando si inseriscono le parole) */
input:focus {
    border: 2px solid #FFFFFF;
}

/* bottone cerca */
#ricercaOfferta tr td #cerca {
	background-image: url(../images/icons/iconsearch.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	left:97em;
	top:-8px;
	background-color: rgb(179, 0, 0);
        border:none;
	width:190%;
}
/* subheader che contiene delle informazioni aggiuntive del sito */
#subheader {
	background-color: #FFFFFF;
	width: 100%;
	min-width: 80em;
	height: 55px;
}

/* descrizioni di approfondimento del sito */
#subheader h4 {
	
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-size: 1em;
	font-style: italic;
	font-weight: 500;
	color: black;
	position: relative;
	top: 5px;
	display:inline-block;
}

/* barra di navigazione contenente le categorie*/
#navMenu {
	background-color: white;
	width: 28.125%;
	height: 215px;
	position: relative;
	left: 30px;
	min-width: 20em;
}

/* nav che contiene le categorie */
#categorie {
	position: relative;
	top: 10px;
	height: auto;
	min-width: 10em;
}

/* le varie categorie elencate in una lista */
#categorie li {
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-size: 20px;
	font-weight: 400;
	color: black;
	list-style-type: none;
	width: 95%;
	height: auto;
	border-bottom: inset;
	border-bottom-color: darkgrey;
	border-bottom-width: 1px; 
}

/* effetti al passaggio del mouse sulle categorie */
#categorie > li a:hover{
	background-color: rgb(179, 0, 0);
	color: white;
}


* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
  
  max-width:45.5%;
  height: auto;
  position: relative;
  top:-310px;
  left:36%;
  min-width: 10em;
}

.mySlides {
    display: none;
}

/* animazioni con sfumature */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* banner che contiene l'immagine di promozione 1*/
#promotion_banner_one{
	background-image: url(../images/banners/man.png);
	background-size: cover;
	border-radius: 0px 10px 10px 0px;
	max-width: 18.12%;
	height: 172px;
	position: relative;
	bottom: 693px;
	left: 82%;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
	max-width: 14em;
}

/* effetti al passaggio del mouse sul banner promozione 1*/
#promotion_banner_one:hover{
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
	
}


/* banner che contiene l'immagine di promozione 2*/
#promotion_banner_two{
	background-image: url(../images/banners/woman.png);
	background-size: cover;
	position: relative;
	bottom: 709px;
	left: 82%;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
	max-width: 18.12%;
	height: 172px;
	border-radius: 0px 10px 10px 0px;
	max-width: 14em;
}

/* effetti al passaggio del mouse sul banner promozione 2*/
#promotion_banner_two:hover{
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

/*Campo di ricerca del brand*/
#campoCercaAzienda {
	
	width: 100%;
	position: relative;
	top:300px;
}

#campoCercaAzienda h2 {
	position:relative;
	width: 24.9%;
	text-align: left;
	left: 5.2%;
}

#campoCercaAzienda input{
    position: relative;
	width: 21%;
	height: 33px;
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	left: 5.2%;
}

#campoCercaAzienda button {
	
	background-image: url(../images/icons/iconsearch.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	height: 33px;
	width: 1.9%;
	background-color: #266abd;
	bottom:4px;
	left: 6.9%;
	border: none;
	
}

#listaTipologie {
	width:27%;
	position:relative;
	left:5%;
	top:200px;
		
}

#listaTipologie fieldset {
	
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-size: 20px;
	font-weight: 400;
	color: #266abd;
	list-style-type: none;
	width: 93%;
	height: auto;
	border-bottom: inset;
	border-bottom-color: darkgrey;
	border-bottom-width: 1px; 
}

#listaTipologie h1 {
	width: 382px;
}

/* Bottone conferma nei filtri delle tipologie */
#bottoneConferma {
       font-family: 'Titillium Web';
       src: url(../fonts/TitilliumWeb-Regular.ttf);
       src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
       width: auto;
       height: auto;
       position: relative;
       bottom: 0px;
       left: 200px;
       border: 2px;
       border-color: #266abd;
       background-color: #266abd;
       color: white;
       border-radius: 8px 8px 8px 8px;
	
}

/* div che contiene un pattern immagine sopra il footer */
#upfooter {
	background-image: url(../images/banners/eshop_one.gif);
	background-size: 25%;
	background-color: red;
	width: 100%;
	height: 150px;
	position: relative;
	bottom: 250px;
}

/* Sezione che contiene lo slideshow e i promotion banner (che diventa poi dinamica al click sulle categorie) */
#mainContent{
	position: relative;
	width:100%;
	height: auto;
}

/* sezione che contiene le offerte del giorno */
#offerteDelGiorno {
	width: 100%;
	height: 500px;
	position: relative;
	background-color: white;
	bottom: 300px;
}

/* sezione che contiene le offerte del giorno */
#offerteInScadenza {
	width: 100%;
	height: 500px;
	position: relative;
	background-color: white;
	bottom: 400px;
}

/* offerta rappresenta il singolo spazio dedicato */
#offerta {
	background-size: contain;
	background-repeat: no-repeat;
	width: 360px;
	height: 180px;
	position: relative;
	background-color: white;
	border: double 2px;
	border-style: inset;
	border-color: rgb(179, 0, 0);
	left: 55px;
	float: left;
	margin-right: 10px;
}

/* rappresenta la sezione a dx che contiene tutte le informazioni (nome prodotto, tipologia, categoria, ecc..) */
#infoOfferta {
	width: 75%;
	height: 85%;
	position: relative;
	left: 90px;
	text-align: right;
	background-color: rgba(155,0,0,0.7);
	border-radius: 0px 0px 0px 15px;
	color: white;
	bottom: 215px;
}

/* sta ad indicare il nome del prodotto o una particolare sottocategoria (tecnologia > smartphones) */
#infoOfferta h5 {
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-size: 20px;
	font-weight: 500;
	position: relative;
	right: 3px;
}

/* sta ad indicare la categoria del prodotto */
#infoOfferta h6 {
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-size: 13px;
	position: relative;
	right: 6px;
	bottom: 80px;
}

/* sta ad indicare il marchio del prodotto */
#infoOfferta h7 {
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-size: 13px;
	font-weight: 500;
	position: relative;
	bottom: 130px;
	right: 2px;
}

/* sta ad indicare la tipologia di offerta sul prodotto (2*1, 50% di sconto, ecc..) */
#infoOfferta h8 {
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-size: 18px;
	font-weight: 500;
	position: relative;
	bottom: 130px;
	right: 1px;
}

/* sta ad indicare il periodo di validitá dell'offerta */
#infoOfferta h9 {
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-size: 15px;
	font-weight: 200;
	position: relative;
	left: 39px;
	bottom: 123px;
}

/*Le prossime 4 regole si riferiscono al link visualizza altre offerte delle relative sezioni*/
#offerteDelGiorno a{
	
	position:relative;
	left:57%;
	top:500px;
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype'); 
	color: black;
	
	
}

#offerteDelGiorno a:visited{
	
	position:relative;
	left:57%;
	top:500px;
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype'); 
	color: red;
	
}

#offerteInScadenza{
	
	position:relative;
	top:-100px;
}

#offerteInScadenza a {
	
	position:relative;
	left:57%;
	top:500px;
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype'); 
	color: black;
	
}

#offerteInScadenza a:visited {
	
	position:relative;
	left:57%;
	top:500px;
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype'); 
	color: red;
	
}
/* bottone che permette la generazione del coupon legato all'offerta e la sua stampa */
#stampaofferta {
	width:40px;
	height: 40px;
	position: relative;
	bottom: 68px;
	right: 12px;
	background-image: url(../images/icons/print.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

/* effetti al passaggio del mouse sul bottone */
#stampaofferta:hover{
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
	-webkit-filter: drop-shadow(2px 2px 2px red);
}

/* parte sinistra del footer*/
#footersx{
	width: 35%;
	height: 75%;
	position: relative;
	border-right: double 1px;
	border-right-style: inset;
	border-right-color: rgb(255, 255, 255);
	left: 8%;
	top: 3em;
}

/* testo nel footer */
#footer h10{
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-size: 15px;
	font-weight: 100;
	color: white;
	text-align: left;
	background-color: transparent;
	font-weight: 200;
	position: relative;
}

/* classe che gestisce tutte le icone nel footer */
.footericon{
	position: relative;
	top: 5px;
}

/* effetto al passaggio del mouse */
.footericon:hover{
	-webkit-filter: drop-shadow(5px 5px 5px red);
}

#footerdx {
	width: 35%;
	height: 75%;
	position: relative;
	border-right: double 1px;
	border-right-style: inset;
	border-right-color: rgb(255, 255, 255);
	left: 48%;
        bottom:4em;
}

/* Sezione FAQ: Frequently Asked Question */
#FAQsection {
  position: relative;
  top:10px;
  color:blue;
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-Regular.ttf);
  src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
}
#FAQsection h1 {
   text-align: center;
   font-size: 22px;
   font-weight: 700;
   /* line-height: 1px; */
}
#FAQsection h2 {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  
}
#FAQsection h3 { 
  text-align: justify;
  font-size: 16px;
  font-weight: 600;
}
#FAQsection h4 { 
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
}

/* Sezione My Accont */
#MyAccount {
  position: relative;
  top:10px;
  color:blue;
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-Regular.ttf);
  src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
}
#MyAccount h1 {
   text-align: center;
   font-size: 22px;
   font-weight: 700;
   /* line-height: 1px; */
}
#MyAccount h2 {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  
}
/* Form accedi contenuto in My Account*/
#MyAccount Form {
    position: relative;
    top: 40px;
    left: 39%;
    width: 425px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 10px;
    background-color: white;
}
/* div che contiene tutto il form */
#FormAccedi{
    position: relative;
    left:-40px;
}
/* bottone di conferma nel form*/
#accedi {
    border: 2px;
    border-color: #266abd;
    background-color: #266abd;
    color: white;
    border-radius: 2px 2px 2px 2px;
    position:relative;
    left: 105px;
    width: 200px;
    height: 30px;
    top: 10px;

}
/* campi di input */
#accedi td input{
	border-radius: 5px;
	border-color: #266abd;
}

/* campo inserimento dell username */
#username{
	border-radius: 5px;
	border-color: #266abd;
	background-color: white;
	margin-bottom: 10px;
	margin-left: -30px;
	
}
/* campo inserimento della password */
#password{
	border-radius: 5px;
	border-color: #266abd;
	background-color: white;
	margin-bottom: 10px;
	margin-left: -30px;
}
/* tutte le label della form */
#accedi tr label{
	margin-left: 80px;
	position: relative;
	color: black;
}
/* tutto il contenuto della form centrato */
#accedi td {
	position: relative;
	top: 35px;
	left: 5px;
}

/* Sezione Registrazione */
#Registrazione {
  position: relative;
  top:10px;
  color:blue;
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-Regular.ttf);
  src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
}
#Registrazione h1 {
   text-align: center;
   font-size: 22px;
   font-weight: 700;
   /* line-height: 1px; */
}
#Registrazione h2 {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  
}
#Registrazione form{
	background-color:white;
	position: relative;
	left:32%;
	position: left;
	width: 100px;
        color: black;
        height:25%;
}
/* campi di input */
#registra input{
	border-radius: 5px;
	border-color: #266abd;
}
/* menu a tendina sesso */
#discounted{
	border-radius: 5px;
	border-color: #266abd;
	
}
/* tasto per caricare immagine*/
#image{
	color: black;
	font-style: italic;
        border-radius: 5px;
	border-color: #266abd;
	font-family: 'Titillium Web';
        src: url(../fonts/TitilliumWeb-Regular.ttf);
        src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
}
/* captcha */
#captcha-element{
    position: relative;
    left:1px;
}
/* tasto di conferma per la registrazione*/
#registrati   {
    border: 2px;
    border-color: #266abd;
    background-color: #266abd;
    color: white;
    border-radius: 2px 2px 2px 2px;
    position:relative;
    width: 200px;
    height: 30px;
    top: 10px;
}

#pagination {
    
    border: black;
    color: black;
    position:relative;
    left:10%;
}


#offertaCategoria {
	
	position:relative;
	left:35%;
	top: -200px;
	background-size: contain;
	background-repeat: no-repeat;
	width: 360px;
	height: 180px;
	background-color: white;
	border: double 2px;
	border-style: inset;
	border-color: rgb(179, 0, 0);
	float: left;
	margin-right: 10px;
	
}


/* Sezione My Accont */
#MyAccount {
  position: relative;
  top:10px;
  color:blue;
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-Regular.ttf);
  src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
}
#MyAccount h1 {
   text-align: center;
   font-size: 22px;
   font-weight: 700;
   /* line-height: 1px; */
}
#MyAccount h2 {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  
}
/* Form accedi contenuto in My Account*/
#MyAccount Form {
    position: relative;
    top: 40px;
    left: 39%;
    width: 425px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 10px;
}
/* bottone di conferma nel form*/
#accedi {
    border: 2px;
    border-color: #266abd;
    background-color: #266abd;
    color: white;
    border-radius: 2px 2px 2px 2px;
    position:relative;
    left: 105px;
    width: 200px;
    height: 30px;
    top: 10px;
}



/* campi di input */
#accedi td input{
	border-radius: 5px;
	border-color: #266abd;
}
/* campo inserimento dell username */
#username{
	border-radius: 5px;
	border-color: #266abd;
	background-color: white;
	margin-bottom: 10px;
	margin-left: -30px;
	
}
/* campo inserimento della password */
#password{
	border-radius: 5px;
	border-color: #266abd;
	background-color: white;
	margin-bottom: 10px;
	margin-left: -30px;
}
/* tutte le label della form */
#accedi tr label{
	margin-left: 80px;
	position: relative;
	color: black;
}
/* tutto il contenuto della form centrato */
#accedi td {
	position: relative;
	top: 35px;
	left: 5px;
}

/* Sezione Registrazione */
#Registrazione {
  position: relative;
  top:10px;
  color:blue;
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-Regular.ttf);
  src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
}
#Registrazione h1 {
   text-align: center;
   font-size: 22px;
   font-weight: 700;
   /* line-height: 1px; */
}
#Registrazione h2 {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  
}

#pagination {
	
	margin-top:10%;
}

.immagineOfferta {
	
	background-repeat: none;
	width: 49%;
}

#pagination {
	
	margin-top:10%;
}

