body {
	
	
	/* disabilita la selezione del testo */
   -ms-user-select: none; /* IE 10+ */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   	user-select: none;
	width:100em;
}


/* h1 usato per tutti i titoli */
h1{
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
	font-size: 20px;
	color: white;
	text-align: left;
	background-color: #266abd;
	font-weight: 400;
}

/* h2 usato per le scritte nei banner laterali */
h2 {
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
	font-size: 20px;
	color: white;
	text-align: right;
	background-color: #266abd;
	font-weight: 400;
}

/* footer a fine pagina */
footer{
	width: 100%;
	height: 200px;
	position: relative;
	bottom: -9px;
	background-color: rgb(179, 0, 0);
	border-radius: 15px 15px 0px 0px;
	display: block;
}

/* tutte le icone del sito */
.icons {
	width: 27px;
	height: 27px;
	position: relative;
	top: 12px;
	left: 20px;
}

/* logo di Coupon World*/
#logo {
	width:auto;
	height: 70px;
	position: relative;
	left:6%;
	top: 18px;
}

/* la header secondaria che contiene il menu */
#upheader {
	
	background-color: rgb(155, 0, 0);
	border-bottom: inset;
	border-bottom-color: white;
	border-bottom-width: thin;
	width: 100%;
	height: 40px;
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
}



/* header della homepage contenente login/registrazione e il carrello */
#header {
	background-color: rgb(179, 0, 0);
	height: 104px;
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	border-radius: 0px 0px 15px 15px;
	width: 100%;
	

}


/* subheader che contiene delle informazioni aggiuntive del sito */
#subheader {
	background-color: #FFFFFF;
	width: 100%;
	height: 55px;
}


/* barra di navigazione contenente le categorie*/
#navMenu{
	background-color: white;
	width: 28.125%;
	height: 200px;
	position: relative;
	left: 90px;
	
}

/* nav che contiene le categorie */
#categorie  {
	position: relative;
	top: 10px;
	height: auto;

}

/* le varie categorie elencate in una lista */
#categorie li {
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-size: 20px;
	font-weight: 400;
	color: black;
	list-style-type: none;
	width: 95%;
	height: auto;
	border-bottom: inset;
	border-bottom-color: darkgrey;
	border-bottom-width: 1px; 
}

/* effetti al passaggio del mouse sulle categorie */
#categorie li:hover{
	background-color: rgb(179, 0, 0);;
	color: white;
}

/* div che contiene un pattern immagine sopra il footer */
#upfooter {
	background-image: url(../images/banners/eshop_one.gif);
	background-size: 25%;
	background-color: red;
	width: 100%;
	height: 150px;
	position: relative;
	bottom: 550px;
}

/* Sezione che contiene lo slideshow e i promotion banner (che diventa poi dinamica al click sulle categorie) */
#mainContent{
	
	width:100%;
}


/* parte sinistra del footer*/
#footersx{
	width: 35%;
	height: 75%;
	position: relative;
	border-right: double 1px;
	border-right-style: inset;
	border-right-color: rgb(255, 255, 255);
	left: 8%;
	top: 7%;
}

/* testo nel footer */
#footer footertext{
	font-family: 'Titillium Web';
   	src: url(../fonts/TitilliumWeb-Regular.ttf);
   	src: local('Titillium Web'), url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-size: 20px;
	color: white;
	text-align: left;
	background-color: transparent;
	font-weight: 200;
	position: relative;
}

/* classe che gestisce tutte le icone nel footer */
.footericon{
	position: relative;
	top: 5px;
}

/* effetto al passaggio del mouse */
.footericon:hover{
	-webkit-filter: drop-shadow(5px 5px 5px red);
}

#footerdx {
	width: 35%;
	height: 75%;
	position: relative;
	border-right: double 1px;
	border-right-style: inset;
	border-right-color: rgb(255, 255, 255);
	left: 48%;
	bottom: 67%;
}
